.form-group.required label:after,
.form-group.required .control-label:after {
    color: #d00;
    content: "*";
    /*position: absolute;*/
    margin-left: 8px;
    top:7px;
}

.table-striped > tbody > tr:hover{
    background-color: lightblue;
    border: 1px solid;
    color:#343434;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    color:#000;
}